
body {
    text-align: center;
}

canvas {
    border: 1px solid black;
    background-image: url('http://kingofwallpapers.com/space/space-008.jpg');
    background-position: center;
}

img {
    display: none;
}
